<div id="<%= dom_id habitation %>">
  <p>
    <strong>Type:</strong>
    <%= habitation.type %>
  </p>

  <p>
    <strong>Airc:</strong>
    <%= habitation.airc %>
  </p>

  <p>
    <strong>Private bat:</strong>
    <%= habitation.private_bat %>
  </p>

</div>
