<h1>Editing habitation</h1>

<%= render "form", habitation: @habitation %>

<br>

<div>
  <%= link_to "Show this habitation", @habitation %> |
  <%= link_to "Back to habitations", habitations_path %>
</div>
