<div id="<%= dom_id hotel %>">
  <p>
    <strong>Name:</strong>
    <%= hotel.name %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= hotel.adress %>
  </p>

  <p>
    <strong>Num room:</strong>
    <%= hotel.num_room %>
  </p>

</div>
